section(class="creat section")
 .container
  div(class="row justify-content-center align-items-center")
   div(class="creat-info col-lg-6")
    h2 Create A Beautiful Landing Page In Minute Not Weeks
    p This should be used to tell a story and let your users know a little more about your product or service
    div(class="creat-numbers text-center")
     div(class="row")
      div(class="number-box col-lg-sm-12")
       i(class="fas fa-user")
       div(class="num")
        span(id="clients-number") 0
        small Clients
      div(class="number-box col-lg-sm-12")
       i(class="fas fa-microchip")
       div(class="num")
        span(id="projects-number") 0
        small projects
   div(class="creat-img col-lg-6")
    img(src="images/illustration/illustration-2.png")