section(class="intro text-center")
 div(class="intro-bg")
  .container
   div(class="intro-holder")
    div(class="intro-box")
     h1 We Are Fully Services Digital Agency
     p We are LeLand agency, our strategists will help you set an objective and choose your tools, developing a plan that is custom built for your business.
     button(class="btn btn-primary main-btn")
      a(href="#")
       span Get Started Now
        i(class="fas fa-arrow-right")
       span(class="upper")
        i(class="fas fa-arrow-right upper-i")
     div(class="intro-img")
      img(src="images/illustration/illustration-1.png" alt="ill")
    div(class="our-clints")
     p Trusted by the world’s most innovative businesses – big and small
     div(class="owl-carousel owl-theme")
      .item
       img(src="images/clients/client-1.png")
      .item
       img(src="images/clients/client-2.png")
      .item
       img(src="images/clients/client-3.png")
      .item
       img(src="images/clients/client-4.png")
      .item
       img(src="images/clients/client-5.png")
      .item
       img(src="images/clients/client-6.png")
      
     
