div(class="pricing text-center")
 .container
  div(class="pricing-heading")
   h1 No Hidden Charges Choose Your Plan
   p This should be used to tell a story and let your users know a little more about your product or service. How can you benefit them?
  .row
   div(class="monthly-changer col-lg-12")
    label(for="" class="trigger") Monthly
    div(class="indicator" id="indicator")
     span()
    label(for="") Yearly
   div(class="pricing-table col-lg-4")
    div(class="card" style="" id="card")
     div(class="front")
      img(class="card-img-top" src="images/background/bg-pricing-dark.svg" alt="Card image cap")
      div(class="inner-img")
       h4 Free
       span Basic
     div(class="back")
      img(class="card-img-top" src="images/background/bg-pricing-dark.svg" alt="Card image cap")
      div(class="inner-img")
       h4 Free
       span Basic
     ul(class="list-group list-group-flush" id="card-ul")
      li(class="list-group-item") crm auto cync
      li(class="list-group-item") click to call back
      li(class="list-group-item") track energy costs
      li(class="list-group-item") predictive dialing
     div(class="card-body" id="card-body")
      button(class="btn btn-primary main-btn")
       a(href="#")
        span Get Started
         i(class="fas fa-arrow-right")
        span(class="upper")
         i(class="fas fa-arrow-right upper-i")
      p Start by trying our service for 30 days free trial no credit card required.
   div(class="pricing-table col-lg-4")
    div(class="card" style="" id="card")
     div(class="front")
      img(class="card-img-top" src="images/background/bg-pricing-primary.svg" alt="Card image cap")
      div(class="inner-img")
       h4 50$
       span monthly
     div(class="back")
      img(class="card-img-top" src="images/background/bg-pricing-primary.svg" alt="Card image cap")
      div(class="inner-img")
       h4 180$
       span yearly
     ul(class="list-group list-group-flush" id="card-ul")
      li(class="list-group-item") crm auto cync
      li(class="list-group-item") click to call back
      li(class="list-group-item") track energy costs
      li(class="list-group-item") predictive dialing
     div(class="card-body" id="card-body")
      button(class="btn btn-primary main-btn")
       a(href="#")
        span Get Started
         i(class="fas fa-arrow-right")
        span(class="upper")
         i(class="fas fa-arrow-right upper-i")
      p Start by trying our service for 30 days free trial no credit card required.
   div(class="pricing-table col-lg-4")
    div(class="card" style="" id="card")
     div(class="front")
      img(class="card-img-top" src="images/background/bg-pricing-dark.svg" alt="Card image cap")
      div(class="inner-img")
       h4 100$
       span monthly
     div(class="back")
      img(class="card-img-top" src="images/background/bg-pricing-dark.svg" alt="Card image cap")
      div(class="inner-img")
       h4 360$
       span yearly
     ul(class="list-group list-group-flush" id="card-ul")
      li(class="list-group-item") crm auto cync
      li(class="list-group-item") click to call back
      li(class="list-group-item") track energy costs
      li(class="list-group-item") predictive dialing
     div(class="card-body" id="card-body")
      button(class="btn btn-primary main-btn")
       a(href="#")
        span Get Started
         i(class="fas fa-arrow-right")
        span(class="upper")
         i(class="fas fa-arrow-right upper-i")
      p Start by trying our service for 30 days free trial no credit card required.

    

   