section(class="subscribe text-center section")
 .container
  .row
   div(class="subscribe-info")
    h2 Whatever the challenge, we always deliver a solution.
    p Bengal. Birman. American shorthair tabby russian blue. Turkish angora leopard yet malkin and ocicat cougar, cougar manx. Cornish rex cougar but bombay, cheetah.
    button(class="btn btn-primary main-btn")
     a(href="#")
      span Get Started Now
       i(class="fas fa-arrow-right")
      span(class="upper")
       i(class="fas fa-arrow-right upper-i")