section(class="testimonials text-center")
 .container
  div(class="slider" id="slider")
   div(class="next" id="next")
    i(class="fas fa-arrow-right")
   div(class="quotes active sd" id="item")
    i(class="fas fa-quote-right")
    h3 " This should be used to tell a story and include any testimonials you might have about your product or service for your clients "
    div(class="person")
     img(src="images/testimonials/avatar-1.png")
    span Vera Duncan @Envato Inc.
   div(class="quotes" id="item")
    i(class="fas fa-quote-right")
    h3 " This should be used to tell a story and include any testimonials you might have about your product or service for your clients "
    div(class="person")
     img(src="images/testimonials/avatar-2.png")
    span Vera Duncan @Envato Inc.
   div(class="quotes" id="item")
    i(class="fas fa-quote-right")
    h3 " This should be used to tell a story and include any testimonials you might have about your product or service for your clients "
    div(class="person")
     img(src="images/testimonials/avatar-3.png")
    span Vera Duncan @Envato Inc.
   div(class="controlers" id="controlers")
    span(class="active")
    span
    span
   div(class="previous" id="prev")
    i(class="fas fa-arrow-left")
