section(class="work")
 .container
  div(class="row justify-content-center align-items-center")
   div(class="work-img col-lg-6")
    img(src="images/illustration/illustration-3.png")
   div(class="work-info col-lg-6")
    h2 Working Together To Deliver Value To Your Business
    p This should be used to tell a story and let your users know a little more about your product or service
    ul.p-0
     li
      i(class="fas fa-clipboard-check")
      p Ocicat cougar, cougar manx. Cornish rex cougar
     li
      i(class="fas fa-clipboard-check")
      p American shorthair tabby russian blue. Turkish angora leopard yet malkin.
      