<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Leland | Trainning For Me
    include ../pug/styles/styles.pug
  body
   //- Start Header
   include ../pug/sections/header.pug
   //- End Header
   //- Start Intro
   include ../pug/sections/intro.pug
   //- End Intro
   //- Start Features
   include ../pug/sections/features.pug
   //- End Features
   //- Start Creat
   include ../pug/sections/creat.pug
   //- End Creat
   //- Start Creat
   include ../pug/sections/work.pug
   //- End Creat
   //- Start Pricing
   include ../pug/sections/pricing.pug
   //- End Pricing
   //- Start Testimonials
   include ../pug/sections/testimonials.pug
   //- End Testimonials
   //- Start subscribe
   include ../pug/sections/subscribe.pug
   //- End subscribe
   //- Start Footer
   include ../pug/sections/footer.pug
   //- End Footer
   

   include ../pug/scripts/scripts.pug
   